#### Vannia Dominguez 
#### A01566771

# Popular Baby Names

#### Data Provided by
##### Department of Health and Mental Hygiene (DOHMH)

#### Link
##### https://data.cityofnewyork.us/Health/Popular-Baby-Names/25th-nujf

#### Description of the data.

##### Popular Baby Names by Sex and Ethnic Group Data were collected through civil birth registration. Each record represents the ranking of a baby name in the order of frequency. Data can be used to represent the popularity of a name. Caution should be used when assessing the rank of a baby name if the frequency count is close to 10; the ranking may vary year to year.

In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.7/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install statsmodels

Requirement already satisfied: statsmodels in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.13.2)
Requirement already satisfied: numpy>=1.17 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from statsmodels) (1.18.5)
Requirement already satisfied: packaging>=21.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from statsmodels) (21.3)
Requirement already satisfied: pandas>=0.25 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from statsmodels) (1.0.4)
Requirement already satisfied: scipy>=1.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from statsmodels) (1.4.1)
Requirement already satisfied: patsy>=0.5.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from packaging>=21.3->statsmodels) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.25->statsmodels) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.25->statsmodels) (2.8.1)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install seaborn

Requirement already satisfied: seaborn in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.11.2)
Requirement already satisfied: scipy>=1.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.4.1)
Requirement already satisfied: matplotlib>=2.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (3.2.1)
Requirement already satisfied: numpy>=1.15 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.18.5)
Requirement already satisfied: pandas>=0.23 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2020.1)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install sklearn

Requirement already satisfied: sklearn in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.0)
Requirement already satisfied: scikit-learn in /srv/conda/envs/notebook/lib/python3.7/site-packages (from sklearn) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied: scipy>=1.1.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import matplotlib.pyplot as plt
import statsmodels.api as sm
import numpy as np
from sklearn import linear_model
import pandas as pd
import seaborn as sns

In [6]:
%ls Popular_Baby_Names.csv
df = pd.read_csv ('Popular_Baby_Names.csv')

Popular_Baby_Names.csv

### What's in this Dataset?
#### Number of rows

In [7]:
len(df.index)

39472

#### Number of columns

In [8]:
len(df.columns)

6

## Tabla

In [9]:
df

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2011,FEMALE,HISPANIC,GERALDINE,13,75
1,2011,FEMALE,HISPANIC,GIA,21,67
2,2011,FEMALE,HISPANIC,GIANNA,49,42
3,2011,FEMALE,HISPANIC,GISELLE,38,51
4,2011,FEMALE,HISPANIC,GRACE,36,53
...,...,...,...,...,...,...
39467,2019,FEMALE,BLACK NON HISPANIC,Sanai,10,34
39468,2019,FEMALE,BLACK NON HISPANIC,Sariyah,10,34
39469,2019,FEMALE,BLACK NON HISPANIC,Sevyn,10,34
39470,2019,FEMALE,BLACK NON HISPANIC,Zariah,10,34
39471,2019,FEMALE,BLACK NON HISPANIC,Zhuri,10,34

In [10]:
all(isinstance(column, str) for column in df.columns)

True

In [11]:
df.rename(columns = {'Year of Birth': 'Año' , 'Gender': 'Sexo',  'Ethnicity':'Etnia', },
          inplace = True
         )

In [12]:
df.columns

Index(['Año', 'Sexo', 'Etnia', 'Child's First Name', 'Count', 'Rank'], dtype='object')

In [13]:
año2011 = df.query(" Año == '2011'")
año2012 = df.query(" Año == '2012'")
año2013 = df.query(" Año == '2013'")
año2014 = df.query(" Año == '2014'")
año2015 = df.query(" Año == '2015'")
año2016 = df.query(" Año == '2016'")
año2017 = df.query(" Año == '2017'")
año2019 = df.query(" Año == '2019'")

#### Number of Females and Males register in each Year

In [39]:
PVaño2012 = pd.pivot_table(año2011,
                         index = ['Año'],
                         values = ['Count'],
                          aggfunc = ['sum'],
                         columns = 'Sexo',
                        margins = True)

In [21]:

PVaño2012 = pd.pivot_table(año2012,
                         index = ['Año'],
                         values = ['Count'],
                          aggfunc = ['sum'],
                         columns = 'Sexo',
                        margins = True)

In [20]:



PVaño2013 = pd.pivot_table(año2013,
                         index = ['Año'],
                         values = ['Count'],
                          aggfunc = ['sum'],
                         columns = 'Sexo',
                        margins = True)

In [19]:

PVaño2014 = pd.pivot_table(año2014,
                         index = ['Año'],
                         values = ['Count'],
                          aggfunc = ['sum'],
                         columns = 'Sexo',
                        margins = True)

In [23]:
PVaño2015 = pd.pivot_table(año2015,
                         index = ['Año'],
                         values = ['Count'],
                          aggfunc = ['sum'],
                         columns = 'Sexo',
                        margins = True)

In [24]:

PVaño2016 = pd.pivot_table(año2016,
                         index = ['Año'],
                         values = ['Count'],
                          aggfunc = ['sum'],
                         columns = 'Sexo',
                        margins = True)

In [25]:

PVaño2017 = pd.pivot_table(año2017,
                         index = ['Año'],
                         values = ['Count'],
                          aggfunc = ['sum'],
                         columns = 'Sexo',
                        margins = True)

In [26]:


PVaño2019 = pd.pivot_table(año2019,
                         index = ['Año'],
                         values = ['Count'],
                          aggfunc = ['sum'],
                         columns = 'Sexo',
                        margins = True)

In [33]:
PVaño2011

         sum
       Count
Sexo  FEMALE    MALE     All
Año
2011  117700  152129  269829
All   117700  152129  269829